// File Name: _dashboard.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 18.08.2016
// Dependencies:
// ------------------------------------------------------------
#app {
	background: $background-color;
	main {
		padding-top: $spacer;
		min-height: 100vh;
		> .content {
			padding-left: 4em;
			padding-right: 5em;
		}
	}
}