// File Name: modal.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 03.05.2017
// Dependencies:
// ------------------------------------------------------------
.modal {
	.modal-content {
		.modal-header {
			background: $green-dark;
			align-items: stretch;
			> .container-fluid {
				margin-left: 0;
				margin-right: 0;
				> .row {
					display: flex;
					flex-direction: row;
					align-items: center;
					header {
						h3 {
							color: $green-lighter;
						}
						p {
							color: $green-lighter;
							margin-bottom: 0;
							font-weight: 300;
						}
						.btn {
							border-radius: 0;
						}
					}
				}
			}
		}
	}
}