// File Name: _box-white.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 18.04.2017
// Dependencies:
// ------------------------------------------------------------
.box-white {
	background: $white;
	@include border-radius(.25em);
	border: .1em solid $blue-lightest;
	margin-bottom: $spacer;
	box-shadow: 2px 0px 4px 2px rgba(233,239,244,1);
	&.content-forms {
		padding: 2em;
	}
}