// File Name: _footer-container.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 19.04.2017
// Dependencies:
// ------------------------------------------------------------
.footer-container {
	background: $background-color;
	padding-top: 2em;
	> div {
		> div {
			display: flex;
			padding: 2em;
			border-top: .1em solid $gray-lighter;
			align-items: center;
			&:nth-child(1) {
				justify-content: flex-start;
				padding-left: 4em;
				img {
					max-height: 2.5em;
				}
			}
			&:nth-last-child(1) {
				justify-content: flex-end;
				padding-right: 4em;
				p {
					margin-bottom: 0;
				}
				i {
					color: $brand-danger;
					margin: 0 .5em;
				}
			}
		}
	}
}