<div class="row">
	<div class="col-6">
		<section class="row form-elements">
			<header class="col-3 no-pl avatar">
				<i class="fa fa-trophy"></i>
			</header>
			<header class="col-9">
				<h3>Najlepsi pracownicy</h3>
				<p class="gray">Pracownicy wyróżnieni przez system</p>
			</header>
		</section>
		<section class="row form-elements">
			<article class="col-12 table-horizontal no-padding">
				<table class="table"
				       ng-table="vm.table.toNgTableParams()">
					<thead>
					<tr>
						<th ng-repeat="column in vm.table.getColumns()"
						    ng-click="vm.toggleOrder(column.id)">
							{{column.name}}
							<i ng-class="(column.orderType) ? ((column.orderType === 'ASC') ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc') : ''"
							   class="fa"></i>
						</th>
						<th>Akcje</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="entry in $data">
						<td ng-repeat="column in vm.table.getColumns()">
							<p>{{entry[column.id]}}</p>
						</td>
						<td>
							<div class="more more-vertical nav-hoover">
								<span class="dot"></span>
						<span class="dot">
							<div class="btn-holder">
								<div class="btn-group">
									<a class="btn btn-primary" ng-click="vm.showWorker(entry.id)">
										<i class="fa fa-eye"></i>
									</a>
								</div>
							</div>
						</span>
								<span class="dot"></span>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</article>
		</section>
	</div>
	<div class="col-6">
		<section class="row form-elements">
			<header class="col-3 no-pl avatar">
				<i class="fa fa-bar-chart-o"></i>
			</header>
			<header class="col-9">
				<h3>Statystyki systemowe</h3>
				<p class="gray">Cały system w liczbach</p>
			</header>
		</section>
		<section class="row form-elements">
			<article class="col-12 px-4">
				<div class="row">
					<div class="col-6 form-group form-group-vertical">
						<label>Ilość pracowników</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.workersCount"
						       disabled="">
					</div>
					<div class="col-6 form-group form-group-vertical">
						<label>Ilość Ocen</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.reviewsCount"
						       disabled="">
					</div>
				</div>
				<div class="row">
					<div class="col-6 form-group form-group-vertical">
						<label>Średnia ocena pracowników</label>
						<div class="rate-buttons">
							<label class="button-star">
								<i class="fa fa-star rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRateWorkers < 25, 'fa-star': vm.stats.avgRateWorkers >= 25}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRateWorkers < 50, 'fa-star': vm.stats.avgRateWorkers >= 50}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRateWorkers < 75, 'fa-star': vm.stats.avgRateWorkers >= 75}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class=" button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRateWorkers < 100, 'fa-star': vm.stats.avgRateWorkers >= 100}"
								   class="fa rate-star-indicator"></i>
							</label>
						</div>
					</div>
					<div class="col-6 form-group form-group-vertical">
						<label>Średnia ocena menagerów</label>
						<div class="rate-buttons">
							<label class="button-star">
								<i class="fa fa-star rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRatePm < 25, 'fa-star': vm.stats.avgRatePm >= 25}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRatePm < 50, 'fa-star': vm.stats.avgRatePm >= 50}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class="button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRatePm < 75, 'fa-star': vm.stats.avgRatePm >= 75}"
								   class="fa rate-star-indicator"></i>
							</label>
							<label class=" button-star">
								<i ng-class="{'fa-star-o': vm.stats.avgRatePm < 100, 'fa-star': vm.stats.avgRatePm >= 100}"
								   class="fa rate-star-indicator"></i>
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 form-group form-group-vertical">
						<label>Najpopularniejsze imię</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.mostPopularName"
						       disabled="">
					</div>
					<div class="col-6 form-group form-group-vertical">
						<label>Największy bonus (%)</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.biggestBonus"
						       disabled="">
					</div>
				</div>
				<div class="row">
					<div class="col-6 form-group form-group-vertical">
						<label>Wzrost terminowości</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.increasePunctuality"
						       disabled="">
					</div>
					<div class="col-6 form-group form-group-vertical">
						<label>Wzrost wydajności</label>
						<input class="form-control disabled"
						       type="text"
						       ng-model="vm.stats.increasePunctuality"
						       disabled="">
					</div>
				</div>
			</article>
		</section>
	</div>
</div>