html {
  font-size:14px;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

body {
  margin:0;
  padding:0;
  width:100%;
  line-height:1.3;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
}

ol {
  margin:0;
  padding:0;
}
p {
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  padding:0;
  font-weight: normal;
}

fieldset {
  border:none;
  margin:0;
  padding:0;
}

button, a {
  cursor: pointer;
	&.disabled {
		cursor: not-allowed;
		opacity: .3;
	}
}
span,
span:focus,
.btn,
.btn:focus,
a:focus {
	outline: none;
	box-shadow: none;
}
button:focus {
	outline: none;
	box-shadow: none;
}
button::-moz-focus-inner {
	border: 0;
	box-shadow: none;
}
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{
  border : 0px;
}
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus
{
  outline : none;
}
section,
header,
footer,
article {
	position: relative;
}
[ng-click],
.btn {
	cursor: pointer;
}

.flexed.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	> [class*='col-'] {
		display: flex;
		flex-direction: column;
	}
}
.no-border {
	border: 0 !important;
}
.no-pl {
	padding-left: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
a,
.btn,
button {
	outline: none !important;
	box-shadow: none !important;
}