// File Name: _pulse.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 08.07.2016
// Dependencies:
// ------------------------------------------------------------
@mixin animation-pulse($name, $color, $colorBG, $size ) {
  @-webkit-keyframes #{$name} {
    0% {
      -webkit-box-shadow: 0 0 0 0 $color;
    }
    70% {
      -webkit-box-shadow: 0 0 0 $size $colorBG;
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 $colorBG;
    }
  }
  @keyframes #{$name} {
    0% {
      -moz-box-shadow: 0 0 0 0 $color;
      box-shadow: 0 0 0 0 $color;
    }
    70% {
      -moz-box-shadow: 0 0 0 $size $colorBG;
      box-shadow: 0 0 0 $size $colorBG;
    }
    100% {
      -moz-box-shadow: 0 0 0 0 $colorBG;
      box-shadow: 0 0 0 0 $colorBG;
    }
  }
}