<nav class="navbar navbar-toggleable-md">
	<button class="navbar-toggler navbar-toggler-right"
	        type="button"
	        data-toggle="collapse"
	        data-target="#navbar"
	        aria-controls="navbar"
	        aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Premia <span>pracownika</span></a>
	<div class="collapse navbar-collapse" id="navbar-items">
		<ul class="navbar-nav navbar-pages mr-auto mt-2 mt-md-0">

			<li class="nav-item"
			    ng-repeat="item in vm.menu.items"
			    ui-sref-active="active"
			    ng-click="vm.menu.activeIndex = $index"
			    ng-class="vm.getMenuItemClass($index)">
				<a class="nav-link"
				   ui-sref="{{item.getToken()}}"
				   ui-sref-opts="{reload:true}">{{item.getName() | translate}}</a>
			</li>
		</ul>
		<ul class="navbar-nav navbar-icons my-2 my-lg-0">
			<li class="nav-item">
				<div class="dropdown">
					<button class="btn btn-transparent"
					        id="dropdownMore"
					        data-toggle="dropdown"
					        aria-haspopup="true"
					        aria-expanded="false">
						<i class="fa fa-cog"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMore">
						<a class="dropdown-item" href="#">
							{{vm.getLoggedUser()}}
						</a>
						<a ng-click="vm.logOut()"
						   class="dropdown-item"
						   spinner="{{vm.SpinnerKey.LOGOUT_BUTTON}}"
						   href="#">
							Wyloguj
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
<main class="container">
	<div class="row">
		<div class="box-white col-12"
		     id="view"
		     ui-view>
		</div>
	</div>
</main>
<footer class="footer-container container-fluid">
	<div class="row">
		<div class="col-6"></div>
		<div class="col-6">Bartosz Duda, Sabina Golonka, Marcin Nowak, Oskar Chajdaś</div>
	</div>
</footer>