<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand">{{'APP.TITLE' | translate}}</a>
            <ul class="nav navbar-nav">
                <li class="nav-item" ui-sref-active="active" ng-repeat="menuItem in vm.menuItems">
                    <a class="nav-link"  ui-sref="{{menuItem.getToken()}}" ui-sref-opts="{reload:true}">{{menuItem.getName() | translate}}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" ng-click="vm.logOut()">{{'APP.LOGOUT' | translate}}</a>
                </li>
            </ul>
            <form class="form-inline pull-xs-right">
                <a class="btn btn-success-outline" ng-click="vm.helloButtonClick()">
                    {{'APP.TRYTHIS' | translate}}
                </a>
            </form>
        </div>
    </div>
</nav>

<section class="">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li ng-repeat="item in vm.breadcrumbs.items">{{item.getName() | translate}}</li>
            </ol>
        </div>
    </div>
</section>

<main class="container">
    <main id="view" ui-view></main>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© 2016 </span>
    </div>
</footer>