// File Name: _box-company.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 20.04.2017
// Dependencies:
// ------------------------------------------------------------
.box-company {
	.box-holder {
		margin: 0em 2em 4em 2em;
		header {
			padding: 1em .5em;
			border-bottom: .1em solid $blue-lightest;
			margin: 0;
			p {
				color: $gray;
				font-weight: 300;
				margin-bottom: 0;
				.dot-status {
					margin-right: .5em;
				}
			}
			.actions {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
		article {
			margin: 0;
			padding: 1em .5em;
			&.chart {
				padding: 2em 1.5em 0em 1.5em;
			}
			&.details {
				display: flex;
				justify-content: space-around;
				>div {
					text-align: center;
					p {
						font-size: .7em;
						color: $gray-light;
						font-weight: 300;
					}
				}
			}
		}
		&.box-empty {
			text-align: center;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			i {
				font-size: 3em;
				color: $gray-lighter;
				margin-bottom: .5em;
				@include single-transition(all, .4s, linear, 0s);
			}
			h3 {
				font-weight: 500;
				text-transform: uppercase;
			}
			&:hover {
				i {
					color: $brand-primary;
					@include single-transition(all, .4s, linear, 0s);
				}
			}
		}
	}
	&:nth-child(3n+1) {
		.box-holder {
			margin-right: 1em;
			margin-left: 0em;
		}
	}
	&:nth-child(3n+2) {
		.box-holder {
			margin-right: .5em;
			margin-left: .5em;
		}
	}
	&:nth-child(3n) {
		.box-holder {
			margin-right: 0;
			margin-left: 1em;
		}
	}
}