// File Name: _radioHuge.scss
// Description:
// Used by: main.scss
// Author: BartDukes
// Date: 28.02.2017
// HTML:
//<nav aria-label="Page navigation example">
//	<ul class="pagination">
//		<li class="page-item"><a class="page-link" href="#">Previous</a></li>
//		<li class="page-item"><a class="page-link" href="#">1</a></li>
//		<li class="page-item"><a class="page-link" href="#">2</a></li>
//		<li class="page-item"><a class="page-link" href="#">3</a></li>
//		<li class="page-item"><a class="page-link" href="#">Next</a></li>
//	</ul>
//</nav>
// PUG:
//nav(aria-label='Page navigation example')
//	ul.pagination
//		li.page-item
//			a.page-link(href='#') Previous
//		li.page-item
//			a.page-link(href='#') 1
//		li.page-item
//			a.page-link(href='#') 2
//		li.page-item
//			a.page-link(href='#') 3
//		li.page-item
//			a.page-link(href='#') Next

// ------------------------------------------------------------
.pagination {
	display: flex;
	justify-content: center;
	margin: 0rem 0;
	.page-item {
		.page-link {
			font-size: .8em;
			i {
				font-size: .7em;
			}
		}
	}
	> li {
		border-radius: 0;
		a {
			border-radius: 0;
			border-color: $green;
			color: $green;
			&:hover {
				color: $green-dark;
				background: $green-light;
			}
		}
		&.active a {
			border-radius: 0;
			background: $green-dark;
			color: $green-lighter;
			border-color: $green-dark;
			&:hover {
				background: $green-dark;
				color: $green-lighter;
				border-color: $green-dark;
			}
		}
		&:nth-child(1) {
			a {
				border-radius: 0;
			}
		}
		&:nth-last-child(1) {
			a {
				border-radius: 0;
			}
		}
	}
}