// File Name: btn.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 20.02.2017
// Dependencies:
// ------------------------------------------------------------
.btn {
	text-transform: uppercase;
	font-size: $btn-font-size-base;
	@include single-transition(all, .5s, ease-in-out, 0);

	i {
		margin-right: 1rem;
		font-size: $font-size-lg;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
		+ i {
			margin-right: 0;
			margin-left: 1rem;
			font-size: $font-size-lg;
			vertical-align: middle;
		}
	}

	&:focus,
	&:hover,
	&:active {
		@include single-transition(all, .15s, ease-in-out, .4s);
		outline: none;
		box-shadow: none;
		color: $green-lighter;
	}

	&.btn-full {
		width: 100%;
	}
	&.btn-half {
		width: 50%;
	}
}
.dropdown .btn.dropdown-toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}