// File Name: _table-horizontal.scss
// Description: 
// Used by: main.scss
// Author: BartDukes
// Date: 20.04.2017
// Dependencies:
// ------------------------------------------------------------
.table-horizontal {
	margin: 0;
	padding: 0;
	&.table,
	.table {
		margin: 0;
	}
	thead > tr > th,
	tbody > tr > td {
		&:nth-child(1) {
			width: 10em;
			text-align: right;
		}
		&:nth-last-child(1) {
			width: 5em;
			text-align: center;
		}
	}
	thead {
		tr {
			th {
				padding-top: 1.25rem;
				padding-bottom: 1.25rem;
				font-weight: 300;
				border: 0;
				vertical-align: middle;
				text-align: left;
				background: $green-dark;
				color: $green-lighter;
				i {
					margin-left: .75em;
					font-size: .8em;
					color: $gray-lighter;
				}
				&:hover {
					cursor: pointer;
					i {
						color: $gray;
					}
				}
				&.sort-active {
					i {
						color: $brand-primary;
					}
				}
				&:nth-child(1) {
					max-width: 5em;
					border-right: .1em solid $green-light;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: .8em;
				padding-top: 1.25rem;
				padding-bottom: 1.25rem;
				border: 0;
				color: $gray-dark;
				vertical-align: middle;
				span {
					margin-left: .5em;
				}
				p {
					margin-bottom: 0;
				}
				.btn {
					&:nth-child(1){
						padding-left: 0;
					}
				}
				&:nth-child(1) {
					border-right: .1em solid $green;
					&:before {
						content: "#";
						display: inline;
					}
					p {
						display: inline;
					}
				}
			}
			&:nth-child(2n+1) {
				td {
					background: $gray-lightest;
				}
			}
			&.row-warning {
				td {
					color: $brand-warning;
					.bar-progress {
						border-color: $brand-warning;
						.progress-value {
							background-image: url($progress-image-warning);
						}
					}
				}
			}
			&.row-danger {
				td {
					color: $brand-danger;
					.bar-progress {
						border-color: $brand-danger;
						.progress-value {
							background-image: url($progress-image-danger);
						}
					}
				}
			}
			&.row-success {
				td {
					color: $brand-primary;
					.bar-progress {
						border-color: $brand-primary;
						.progress-value {
							background-image: url($progress-image-success);
						}
					}
				}
			}
			td {
				&.color-stay {
					color: $gray-dark;
				}
			}
			&.active {
				td {
					background: $green-light;
				}
			}
		}
	}
}