<section class="row form-elements">
	<header class="col-2 avatar">
		<i class="fa fa-user"></i>
	</header>
	<header class="col-6 no-pl">
		<h3>{{ vm.worker.name }} {{ vm.worker.surname }} <sup>({{ vm.worker.role }})</sup></h3>
		<p class="gray">Sugerowana premia: {{ vm.worker.bonusRate }}%</p>
	</header>
	<header class="col-4 text-right">
		<p>ID: {{ vm.worker.token }}</p>
	</header>
	<article class="col-8 offset-2 no-border no-pl">
		<div class="row">
			<div class="col-6 form-group form-group-vertical">
				<label>Efektywność</label>
				<div class="rate-buttons">
					<label class="button-star">
						<i class="fa fa-star rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.efficiency < 25, 'fa-star': vm.worker.efficiency >= 25}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.efficiency < 50, 'fa-star': vm.worker.efficiency >= 50}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.efficiency < 75, 'fa-star': vm.worker.efficiency >= 75}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class=" button-star">
						<i ng-class="{'fa-star-o': vm.worker.efficiency < 100, 'fa-star': vm.worker.efficiency >= 100}"
						   class="fa rate-star-indicator"></i>
					</label>
				</div>
			</div>
			<div class="col-6 form-group form-group-vertical">
				<label>Terminowość</label>
				<div class="rate-buttons">
					<label class="button-star">
						<i class="fa fa-star rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.punctuality < 25, 'fa-star': vm.worker.punctuality >= 25}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.punctuality < 50, 'fa-star': vm.worker.punctuality >= 50}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.punctuality < 75, 'fa-star': vm.worker.punctuality >= 75}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.punctuality < 100, 'fa-star': vm.worker.punctuality >= 100}"
						   class="fa rate-star-indicator"></i>
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 form-group form-group-vertical">
				<label>Ogólna ocena pracowników</label>
				<div class="rate-buttons">
					<label class="button-star">
						<i class="fa fa-star rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.workersRate < 25, 'fa-star': vm.worker.workersRate >= 25}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.workersRate < 50, 'fa-star': vm.worker.workersRate >= 50}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.workersRate < 75, 'fa-star': vm.worker.workersRate >= 75}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.workersRate < 100, 'fa-star': vm.worker.workersRate >= 100}"
						   class="fa rate-star-indicator"></i>
					</label>
				</div>
			</div>
			<div class="col-6 form-group form-group-vertical">
				<label>Średnia ocena pracowników</label>
				<div class="rate-buttons">
					<label class="button-star">
						<i class="fa fa-star rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.summaryRate < 25, 'fa-star': vm.worker.summaryRate >= 25}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.summaryRate < 50, 'fa-star': vm.worker.summaryRate >= 50}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.summaryRate < 75, 'fa-star': vm.worker.summaryRate >= 75}"
						   class="fa rate-star-indicator"></i>
					</label>
					<label class="button-star">
						<i ng-class="{'fa-star-o': vm.worker.summaryRate < 100, 'fa-star': vm.worker.summaryRate >= 100}"
						   class="fa rate-star-indicator"></i>
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 form-group form-group-vertical">
				<label>Staż pracy (miesiące)</label>
				<input class="form-control disabled"
				       type="text"
				       ng-model="vm.worker.experienceMonths"
				       disabled="">
			</div>
			<div class="col-6 form-group form-group-vertical">
				<label>Godziny pracy</label>
				<input class="form-control disabled"
				       type="text"
				       ng-model="vm.worker.workedHours"
				       disabled="">
			</div>
		</div>
		<div class="row">
			<div class="col-6 form-group form-group-vertical">
				<label>Dni wolne</label>
				<input class="form-control disabled"
				       type="text"
				       ng-model="vm.worker.leaveDays"
				       disabled="">
			</div>
			<div class="col-6 form-group form-group-vertical">
				<label>Dni na zwolnieniu lekarskim</label>
				<input class="form-control disabled"
				       type="text"
				       ng-model="vm.worker.diseaseDays"
				       disabled="">
			</div>
		</div>
	</article>
	<footer class="col-12 no-border text-right pb-3">
		<a class="btn btn-secondary" ui-sref="{{ vm.workersTable.getToken() }}">Powrót</a>
		<a class="btn btn-primary" ng-click="vm.save()">Zapisz</a>
	</footer>
</section>